<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Página Inicial</title>
  <link type="text/css" href="../static/inicial.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inicial.css') }}">
</head>
<body>
  <header>
    <div class="contnv">
      <a href="cliente" class="button">Cadastro</a>
      <a href="pdv" class="button">Venda</a>
    </div>
    
  </header>
  <div class="main">
    <div>
      <h1>Sistema</h1>
    </div>
  </div>
  <footer>
    baixo
  </footer>
</body>
</html>
